 .collapsible-columns {
 	position: relative;
 	margin: 0 auto;
 }
 .collapsible-columns [collapsible-column] {
 	-webkit-transition: 0.25s;
 	-moz-transition: 0.25s;
 	-ms-transition: 0.25s;
 	-o-transition: 0.25s;
 	transition: 0.25s;
 }
 .collapsible-column.collapsed {
 	text-align: center;
 }
 .collapsible-column.not-collapsed .collapsible-column-toggle {
 	float: right;
 }
