[landmark-card] {
	position: absolute;
	top: 15%;
	left: 5%;
	width: 400px;
	height: 490px;
	zoom: 0.85;
}
.landmark-card {
	position: relative;
	width: inherit;
	height: inherit;
}
.landmark-card .landmark-card-face.landmark-card-face-front {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	float: none;
	width: inherit;
	height: inherit;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-ms-transform: rotateX(0deg) rotateY(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.landmark-card .landmark-card-face.landmark-card-face-back {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	float: none;
	width: inherit;
	height: inherit;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.landmark-card.flipped .landmark-card-face.landmark-card-face-front {
	z-index: 900;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.landmark-card.flipped .landmark-card-face.landmark-card-face-back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-ms-transform: rotateX(0deg) rotateY(0deg);
	-o-transform: rotateX(0deg) rotateY(0deg);
	transform: rotateX(0deg) rotateY(0deg);
}
.landmark-card h1, .landmark-card h2, .landmark-card h3, .landmark-card h4, .landmark-card h5, .landmark-card h6 {
	margin:0;
	padding:0;
}
.landmark-card .panel-body {
	background-position: top left;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.landmark-card .thumbnail {
	margin: 1px;
	border: none;
}
.landmark-card .resource:first-child {
	background-color: lightblue;
}
.landmark-card .resource:first-child+.resource {
	background-color: lemonchiffon;
}
.landmark-card .resource:last-child {
	background-color: lightsalmon;
}
.landmark-card .close {
	color: white;
}
