/* Variables */

/* Mixins */

.shadow-box-light {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.shadow-box-light-down {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.shadow-box-light-slanting {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.shadow-box-heavy {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow-box-heavy-down {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.shadow-box-heavy-slanting {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.shadow-text-light {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.shadow-text-light-down {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.shadow-text-light-slanting {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.shadow-text-heavy {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow-text-heavy-down {
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.shadow-text-heavy-slanting {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.shadow-box-hud {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.shadow-text-hud {
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #777777;
}

.game-container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.layer {
  position: absolute;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.close,
.close:hover {
  color: white;
  text-shadow: none;
}

/* Loading screen */

.loading-screen {
  width: 100%;
  height: 100%;
  margin: auto auto;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

.menu-top-bar {
  width: 100%;
  height: 75px;
  color: white;
  background-color: #428bca;
}

.menu-top-bar h1 {
  padding: 0;
  margin: 0;
  line-height: 75px;
  white-space: nowrap;
  animation: flight-schedule-marquee 4s linear infinite;
}

@keyframes flight-schedule-marquee {
  from {
    margin-left: 800px;
  }
  to {
    margin-left: -400px;
  }
}

.button-next {
  right: 0;
  bottom: 0;
  width: 30%;
}

.button-next .btn {
  width: 100%;
}

.button-prev {
  bottom: 0;
  left: 0;
  width: 30%;
}

.button-prev .btn {
  width: 100%;
}

.sidebar {
  top: 75px;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #f4fce8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.sidebar h2,
.sidebar p {
  padding: 0 10px;
}

.sidebar.morning {
  background-color: #eff9ff;
}

.sidebar.morning.turn-options .option > h4 {
  background-color: #1880ba;
}

.sidebar.afternoon {
  background-color: #fef4e9;
}

.sidebar.afternoon.turn-options .option > h4 {
  background-color: #b1681b;
}

.sidebar.evening {
  background-color: #868fbe;
}

.sidebar.evening.turn-options .option > h4 {
  background-color: #141725;
}

.sidebar.turn-options {
  top: 0;
}

.sidebar.turn-options .option {
  padding: 0;
  margin: 0;
  background-color: white;
}

.sidebar.turn-options .option > h4 {
  padding: 3px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.sidebar.turn-options .option .souvenir {
  float: left;
  text-align: center;
}

.sidebar.turn-options .option .souvenir.picture {
  width: 35%;
  padding: 0 3% 0;
}

.sidebar.turn-options .option .souvenir.picture img {
  vertical-align: bottom;
}

.sidebar.turn-options .option .souvenir.info {
  width: 59%;
}

.sidebar.turn-options .option .souvenir.info h4 {
  margin: 0;
}

.sidebar.turn-options .option .souvenir.info .cost,
.sidebar.turn-options .option .souvenir.info .gains {
  width: 49%;
  font-size: 1.6em;
}

.sidebar.turn-options .option .souvenir.info .cost {
  color: #ffb03b;
}

.sidebar.turn-options .option .souvenir.info .gains {
  color: #27b3e6;
}

.sidebar.turn-options .option .action {
  padding: 10px;
  text-align: center;
}

.sidebar .accordion-toggle {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.btn.btn-action {
  color: white;
  background-color: #428bca;
  border-color: #428bca;
  border-radius: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.morning .btn {
  color: white;
  background-color: #26affc;
  border-color: #26affc;
}

.afternoon .btn {
  color: white;
  background-color: #f69125;
  border-color: #f69125;
}

.evening .btn {
  color: white;
  background-color: #2a304e;
  border-color: #2a304e;
}

.loading {
  text-align: center;
  background-color: #efefef;
}

.loading h1 {
  margin: 35% auto auto;
}

[loading] {
  display: inline-block;
}

[loading] .spinner {
  width: auto;
  margin: 0 20px 0;
  text-align: center;
}

[loading] .spinner > div {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
          animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

[loading] .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

[loading] .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

[game-map] .map-canvas {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

[widget-resource-indicator] {
  display: inline-block;
}

[widget-resource-indicator] .widget-resource-indicator {
  position: relative;
  margin: 5px;
}

[widget-resource-indicator] .widget-resource-indicator .widget-resource-indicator-icon {
  position: relative;
  z-index: 20;
}

[widget-resource-indicator] .widget-resource-indicator .widget-resource-indicator-value {
  position: relative;
  z-index: 10;
  padding: 5px 20px 5px 35px;
  margin-left: -40px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

[widget-resource-indicator] .widget-resource-indicator-MONEY .widget-resource-indicator-value {
  background-color: #eab86d;
  border: 2px solid #e09527;
}

[widget-resource-indicator] .widget-resource-indicator-XP .widget-resource-indicator-value {
  background-color: #c4483d;
  border: 2px solid #8d1e14;
}

[widget-resource-indicator] .widget-resource-indicator-SOUVENIR .widget-resource-indicator-value {
  background-color: #61b2d0;
  border: 2px solid #3289a8;
}

[widget-day-counter] {
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
}

[widget-day-counter] .widget-day-counter {
  width: 100%;
  height: 100%;
  background: transparent url(../images/icons/anz_icon_clock.png) right top no-repeat;
  background-size: contain;
}

[widget-day-counter] .widget-day-counter .content {
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

[widget-day-counter] .widget-day-counter .content h1 {
  margin-top: 15px;
  font-weight: bold;
  line-height: 20px;
}

[widget-day-counter] .widget-day-counter .content h1 small {
  font-weight: normal;
  color: white;
}

/* Alert */

[widget-alert] {
  top: 75px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: 0.75s;
}

[widget-alert] .widget-alert {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  color: white;
  background-color: #428bca;
}

[widget-alert] .widget-alert h2 {
  margin-top: 5px;
}

[widget-alert] .chevron {
  position: absolute;
  bottom: -8px;
  z-index: 9;
  padding: 0;
  margin: 0;
  font-size: 75px;
  line-height: 0;
  color: #428bca;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

[widget-alert].morning .widget-alert {
  background-color: #26affc;
}

[widget-alert].morning .chevron {
  color: #26affc;
}

[widget-alert].afternoon .widget-alert {
  background-color: #f69125;
}

[widget-alert].afternoon .chevron {
  color: #f69125;
}

[widget-alert].evening .widget-alert {
  background-color: #2a304e;
}

[widget-alert].evening .chevron {
  color: #2a304e;
}

[landmark-card] {
  top: 15%;
  left: 5%;
  width: 400px;
  zoom: 0.85;
  animation-duration: 0.5s;
}

[landmark-card].morning .panel {
  border-color: #1880ba;
}

[landmark-card].morning .panel-heading {
  background-color: #1880ba;
  border-color: #1880ba;
}

[landmark-card].afternoon .panel {
  border-color: #b1681b;
}

[landmark-card].afternoon .panel-heading {
  background-color: #b1681b;
  border-color: #b1681b;
}

[landmark-card].evening .panel {
  border-color: #141725;
}

[landmark-card].evening .panel-heading {
  background-color: #141725;
  border-color: #141725;
}

[landmark-card] .landmark-card {
  background-color: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

[landmark-card] .landmark-card h1,
[landmark-card] .landmark-card h2,
[landmark-card] .landmark-card h3,
[landmark-card] .landmark-card h4,
[landmark-card] .landmark-card h5,
[landmark-card] .landmark-card h6 {
  padding: 0;
  margin: 0;
}

[landmark-card] .landmark-card .panel-body {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

[landmark-card] .landmark-card .panel-footer {
  background-color: #777;
}

[landmark-card] .landmark-card .panel-footer.active {
  color: orange;
  animation: landmark-card-text-highlight 2s ease-in-out infinite;
}

[landmark-card] .landmark-card .panel-footer.inactive {
  color: #444;
}

[landmark-card] .landmark-card .thumbnail {
  margin: 1px;
  border: none;
}

[landmark-card] .landmark-card .resource:first-child {
  background-color: #add8e6;
}

[landmark-card] .landmark-card .resource:first-child + [landmark-card] .landmark-card .resource {
  background-color: #fffacd;
}

[landmark-card] .landmark-card .resource:last-child {
  background-color: #ffa07a;
}

[landmark-card] .landmark-card .resource .close {
  color: white;
}

@keyframes landmark-card-text-highlight {
  0%,
  100% {
    color: orange;
    text-shadow: none;
  }
  50% {
    color: gold;
    text-shadow: 0 0 5px orange;
  }
}

[random-event-card] {
  text-align: center;
  animation-duration: 0.5s;
}

[random-event-card] .random-event-card {
  position: relative;
  top: 25%;
  width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  zoom: 0.85;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  animation-duration: 0.5s;
}

[random-event-card] .random-event-card.random-event-POSITIVE {
  border-color: #50b337;
}

[random-event-card] .random-event-card.random-event-POSITIVE .panel-heading,
[random-event-card] .random-event-card.random-event-POSITIVE .panel-footer {
  color: white;
  background-color: #50b337;
  border-color: #50b337;
}

[random-event-card] .random-event-card.random-event-NEGATIVE {
  border-color: #d41200;
}

[random-event-card] .random-event-card.random-event-NEGATIVE .panel-heading,
[random-event-card] .random-event-card.random-event-NEGATIVE .panel-footer {
  color: white;
  background-color: #d41200;
  border-color: #d41200;
}

[random-event-card] .random-event-card .panel-heading {
  color: white;
}

[random-event-card] .random-event-card .panel-heading h1,
[random-event-card] .random-event-card .panel-heading h2,
[random-event-card] .random-event-card .panel-heading h3,
[random-event-card] .random-event-card .panel-heading h4,
[random-event-card] .random-event-card .panel-heading h5,
[random-event-card] .random-event-card .panel-heading h6 {
  padding: 0;
  margin: 0;
}

[upgrade-card] {
  text-align: center;
  animation-duration: 0.5s;
}

[upgrade-card] .upgrade-card {
  position: relative;
  top: 15%;
  width: 500px;
  margin: 0 auto;
  border-color: #428bca;
  border-radius: 4px;
  zoom: 0.85;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  animation-duration: 0.5s;
}

[upgrade-card] .upgrade-card .panel-heading {
  color: white;
  background-color: #428bca;
  border-color: #428bca;
}

[upgrade-card] .upgrade-card .panel-heading {
  color: white;
}

[upgrade-card] .upgrade-card .panel-heading h1,
[upgrade-card] .upgrade-card .panel-heading h2,
[upgrade-card] .upgrade-card .panel-heading h3,
[upgrade-card] .upgrade-card .panel-heading h4,
[upgrade-card] .upgrade-card .panel-heading h5,
[upgrade-card] .upgrade-card .panel-heading h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

[upgrade-card] .upgrade-card .panel-heading .upgrade-card-label {
  font-weight: normal;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      filter: alpha(opacity=50);
}

[upgrade-card] .upgrade-card .panel-body {
  position: relative;
  height: 300px;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

[upgrade-card] .upgrade-card .panel-body h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

[upgrade-card] .upgrade-card .list-group {
  text-align: left;
}