body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.container {
	border: 1px solid #eee;
	padding: 20px;
}
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
.map-canvas {
	width: 600px;
	height: 400px;
	margin: 0 auto;
}
