body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.game-container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 800px;
	height: 600px;
	border: 1px solid #eee;
}
.layer {
	position: absolute;
}
.play-button {
	right: 0;
	bottom: 0;
}
.back-button {
	left: 0;
	bottom: 0;
}
