/* Variables */
 @game-width: 800px;
 @game-height: ((@game-width * 3) / 4);

 @hud-top-height: 75px;
 @sidebar-width: 30%;

 @menu-bar-colour: #395363;

 @alert-background-colour: #FC9526;

@widget-day-counter-size: 200px;
@widget-day-counter-border-size: 5px;

@widget-money-colour: #FFB03B;
@widget-money-text-shadow-color: #A76C13;
@widget-money-border-colour: #85774d;
@widget-money-background-colour: #deb850;

@widget-xp-colour: #d41200;
@widget-xp-text-shadow-color: #6b1c01;
@widget-xp-border-colour: #8a300f;
@widget-xp-background-colour: #de7350;

@widget-souvenir-colour: #27b3e6;
@widget-souvenir-text-shadow-color: #1f3b4f;
@widget-souvenir-border-colour: #426c8a;
@widget-souvenir-background-colour: #509ede;

.hud-shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hud-shadow-light {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}