.widget-resource-indicator {
	position: relative;
	margin: 5px;
}
.widget-resource-indicator-icon {
	position: relative;
	z-index: 20;
	font-weight: bold;
	vertical-align: middle;
}
.widget-resource-indicator-value {
	position: relative;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 5px 20px 5px 40px;
	margin-left: -30px;
	border-radius: 7px;
	z-index: 10;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
.widget-resource-indicator-budget .widget-resource-indicator-icon {
	color: #FFB03B;
	text-shadow: 2px 2px 5px #A76C13;
}
.widget-resource-indicator-budget .widget-resource-indicator-value {
	background-color: #deb850;
	border: 2px solid #85774d;
}
.widget-resource-indicator-xp .widget-resource-indicator-icon {
	color: #d41200;
	text-shadow: 2px 2px 5px #6b1c01;
}
.widget-resource-indicator-xp .widget-resource-indicator-value {
	background-color: #de7350;
	border: 2px solid #8a300f;
}
.widget-resource-indicator-souvenirs .widget-resource-indicator-icon {
	color: #27b3e6;
	text-shadow: 2px 2px 5px #1f3b4f;
}
.widget-resource-indicator-souvenirs .widget-resource-indicator-value {
	background-color: #509ede;
	border: 2px solid #426c8a;
}
