.btn {

	&, &:focus, &:active {
		outline: none;
		user-select: none;
	}

	// Action buttons
	&.btn-action {
		.shadow-box-hud();
		.button-color(@color-action-primary);
		border-radius: 0;
		transition: 0.25s;
	}

	&[disabled] { .button-color(@color-background); }

	// Themes by time of day
	.morning & {
		.button-color(@color-morning);
		&[disabled] { .button-color(@color-background); }
	}
	.afternoon & {
		.button-color(@color-afternoon);
		&[disabled] { .button-color(@color-background); }
	}
	.evening & {
		.button-color(@color-evening);
		&[disabled] { .button-color(@color-background); }
	}

	.button-color(@color) {
		border-color: @color;
		background-color: @color;
		color: white;

		&:hover {
			border-top: 4px solid darken(@color, 15%);
		}
	}

	// Intro menu buttons
	&.btn-menu {
		display: block;
		margin: 20px 0;
		padding: 0px 15px;
		width: 225px;
		border: none;
		border-radius: 0;
		background-color: #777;
		box-shadow: -5px 3px 5px black;
		text-align: right;
		text-transform: uppercase;
		font-weight: bold;
		font-style: italic;
		font-size: 36px;
		transition: 0.1s;

		&:hover {
			width: 280px;
			background-color: #37BAC0;
		}
	}

}