/////////////
// Top HUD //
/////////////

.menu-top-bar {
	width: 100%;
	height: @size-height-HUD;
	background-color: @color-title;
	color: white;

	h1 {
		margin: 0;
		padding: 0 20px;
		white-space: nowrap;
		line-height: @size-height-HUD;

		&.banner {
			animation: flight-schedule-marquee 4s linear infinite;

			@keyframes flight-schedule-marquee {
				from { margin-left: @size-width-game; }
				to { margin-left: (-1 * @size-width-game) / 2; }
			}
		}

	}
}

//////////////
// Buttons  //
//////////////

.button-next {
	right: 0;
	bottom: 0;
	width: @size-width-sidebar;
	.btn {
		width: 100%;
	}
}

.button-prev {
	bottom: 0;
	left: 0;
	width: @size-width-sidebar;
	.btn {
		width: 100%;
	}
}

/////////////
// Sidebar //
/////////////

.sidebar {

	.shadow-box-hud();
	right: 0;
	width: @size-width-sidebar;
	height: 100%;
	background-color: @color-light;

	&.top-gap {
		top: @size-height-HUD;
	}

	h2, p {
		padding: 0 10px;
	}

	&.ng-enter {
		animation: bounceInUp 1s;
	}
	&.ng-leave {
		animation: bounceOutDown 1s;
	}

	&.morning {
		background-color: lighten(@color-morning, 40%);
		.panel .panel-heading {
			background-color: darken(shade(@color-morning, 10%), 10%);
		}
	}
	&.afternoon {
		background-color: lighten(@color-afternoon, 40%);
		.panel .panel-heading {
			background-color: darken(shade(@color-afternoon, 10%), 10%);
		}
	}
	&.evening {
		background-color: lighten(@color-evening, 40%);
		.panel .panel-heading {
			background-color: darken(shade(@color-evening, 10%), 10%);
		}
	}

	.panel {
		top: 0;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;
		background-color: white;

		.panel-heading {
			border: none;
			border-radius: 0;
			background-color: @color-title;
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
		}

		.souvenir {
			float: left;
			text-align: center;

			&.picture {
				padding: 0 3% 0;
				width: 35%;

				img {
					vertical-align: bottom;
				}
			}

			&.info {
				width: 59%;

				h4 {
					margin: 0;
				}

				.cost, .gains {
					width: 49%;
					font-size: 1.6em;
				}

				.cost {
					color: @color-money;
				}

				.gains {
					color: @color-souvenirs;
				}
			}
		}

		.action {
			padding: 10px;
			text-align: center;
		}
	}

	.accordion-toggle {
		display: block;
		text-decoration: none;
		cursor: pointer;
	}
}
