/////////////
// Top HUD //
/////////////

@font-face {
	font-family: "dsdigital";
	src: url("../fonts/dsdigital.ttf");
}

.menu-top-bar {
	width: 100%;
	height: @size-height-HUD;
	background-color: @color-title;
	color: white;
	.shadow-box-hud();

	&.banner-bar {
		background-color: #333;
		color: #ffff5c;
	}

	h1 {
		margin: 0;
		padding: 0 20px;
		white-space: nowrap;
		line-height: @size-height-HUD;

		&.banner {
			@movementSpeed: 9s;

			font-family: 'dsdigital', sans-serif;
			font-size: 72px;
			text-transform: uppercase;
			animation: flight-schedule-marquee @movementSpeed linear infinite;
			position: absolute;

			&.delayed {
				opacity: 0;
				animation-delay: @movementSpeed / 2;
			}

			@keyframes flight-schedule-marquee {
				0% { opacity: 1; transform: translateX(@size-width-game); }
				100% { opacity: 1; transform: translateX(-@size-width-game); }
			}
		}

	}
}

//////////////
// Buttons  //
//////////////

.button-next {
	right: 0;
	bottom: 0;
	width: @size-width-sidebar;
	.btn {
		width: 100%;
	}
}

.button-prev {
	bottom: 0;
	left: 0;
	width: @size-width-sidebar;
	.btn {
		width: 100%;
	}
}

/////////////
// Sidebar //
/////////////

.sidebar {

	.shadow-box-hud();

	.theme(@color-light);
	right: 0;
	width: @size-width-sidebar;
	height: 100%;
	background-color: @color-light;

	&.top-gap {
		top: @size-height-HUD;
	}

	h2, p {
		padding: 0 10px;
	}

	&.ng-enter {
		animation: bounceInUp 1s;
		animation-delay: 0.5s;
		animation-fill-mode: both;
	}
	&.ng-leave {
		animation: bounceOutDown 1s;
	}
	&.morning { .theme(@color-morning); }
	&.afternoon { .theme(@color-afternoon); }
	&.evening { .theme(@color-evening); }

	.theme(@color) {
		// background-color: lighten(@color, 40%);
		// .panel .panel-heading {
		// 	background-color: darken(shade(@color, 10%), 10%);
		// }
		&, & .panel {
			background-color: darken(@color, 15%);
			color: white;
		}
	}

	.panel {
		top: 0;
		overflow: visible;
		margin: 0;
		padding: 0;
		border: none;
		border-radius: 0;

		.panel-heading {
			.shadow-box-heavy-down();
			position: relative;
			margin-left: -1em;
			border: none;
			border-radius: 0;
			background-color: #444;
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;

			&:before {
				position: absolute;
				bottom: -1em;
				left: 0;
				display: block;
				border-width: 1em 0 0 1em;
				border-style: solid;
				border-color: #222 transparent transparent transparent;
				content: "";
			}

			&:hover {
				background-color: #555;
				&:before {
					border-top-color: #333;
				}
			}

			.panel-title {
				font-weight: bold;
			}
		}

		.panel-body {
			border: none !important;
		}

		.souvenir {
			float: left;
			text-align: center;

			&.picture {
				padding: 0 3% 0;
				width: 35%;

				img {
					vertical-align: bottom;
				}
			}

			&.info {
				width: 64%;

				h4 {
					margin: 0;
				}

				.cost, .gains {
					.shadow-text-hud();
					width: 49%;
					font-weight: bold;
					font-size: 1.6em;
				}

				.cost {
					color: @color-money;
				}

				.gains {
					color: @color-souvenirs;
				}
			}
		}

		.action {
			padding: 10px;
			text-align: center;
		}
	}

	.accordion-toggle {
		display: block;
		text-decoration: none;
		cursor: pointer;
	}
}

/* Upgrades unlocked */
.upgrade-indicators {
	@gutter: 10px;

	top: 2 * @gutter;
	right: @size-width-sidebar - (4 * @gutter);
	margin: 0 @gutter;

	.journal-icon {
		position: absolute;
		right: -64px;
	}

	.upgrade-indicator {
		margin: 0 (@gutter / 2);

		a {
			display: inline-block;
		}

		img {
			.shadow-box-glow();
			width: auto;
			height: 32px;
			border-radius: 2px;
		}
	}

}