body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: @color-background;
}

.game-container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: @size-width-game;
	height: @size-height-game;
	.shadow-box-heavy();
}

.layer {
	position: absolute;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.close {
	&, &:hover{
		color: white;
		text-shadow: none;
	}
}

.stats-chart {
	top: @size-height-HUD;
	width: (@size-width-game - @size-width-sidebar);
	height: (@size-height-game - @size-height-HUD);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.intro-screen {
	background: white url(../images/anz_worldmap.png) center center no-repeat;
	background-size: cover;
}

.tooltip {
	width: 100%;
	min-width: 200px;
	font-size: 18px;
}