body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: @color-background;
}

.game-container {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: @size-width-game;
	height: @size-height-game;
	.shadow-box-heavy();
}

.layer {
	position: absolute;
}
