[landmark-card] {
	top: 15%;
	left: 5%;
	width: @size-width-card;
	transition: 0.5s ease-in-out;
	zoom: 0.85;

	// Animations
	&.ng-hide {
		display: block !important;
		top: (@size-height-game + 111);
		left: @panel-border-radius;
		transform: rotateY(180deg);
		transition: 0.25s ease-in-out;
		width: (@size-width-card * 0.75);
	}

	// Colour theming
	& {
		// default
		.panel {
			border-color: @color-title;
		}
		.panel-heading {
			border-color: @color-title;
			background-color: @color-title;
		}
		.landmark-card-back {
			background-color: @color-title;
		}
	}

	&.morning {
		.panel {
			border-color: @color-morning;
		}
		.panel-heading {
			border-color: @color-morning;
			background-color: @color-morning;
		}
		.landmark-card-back {
			background-color: @color-morning;
		}
	}
	&.afternoon {
		.panel {
			border-color: @color-afternoon;
		}
		.panel-heading {
			border-color: @color-afternoon;
			background-color: @color-afternoon;
		}
		.landmark-card-back {
			background-color: @color-afternoon;
		}
	}
	&.evening {
		.panel {
			border-color: @color-evening;
		}
		.panel-heading {
			border-color: @color-evening;
			background-color: @color-evening;
		}
		.landmark-card-back {
			background-color: @color-evening;
		}
	}

	// Landmark card contents
	.landmark-card {
		.shadow-box-hud();
		position: relative;
		// overflow: hidden;
		border: none;
		border-radius: @panel-border-radius;
		background-color: none;

		h1, h2, h3, h4, h5, h6 {
			margin:0;
			padding:0;
		}
		.panel-body {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.panel-footer {
			background-color: #777;
			&.active {
				color: orange;
				animation: landmark-card-text-highlight 2s ease-in-out infinite;
			}
			&.inactive {
				color: #444;
			}
		}
		.thumbnail {
			margin: 1px;
			border: none;
			position: relative;

			// Popup on hover
			.landmark-card-popup {
				position: absolute;
				top: 0;
				left: 0;
			}

		}
		.resource {
			&:first-child {
				background-color: @color-lodging;
			}
			&:first-child+& {
				background-color: @color-visiting;
			}
			&:last-child {
				background-color: @color-shopping;
			}
			.close {
				color: white;
			}
		}
		@keyframes landmark-card-text-highlight {
			0%, 100% {
				color: orange;
				text-shadow: none;
			}
			50% {
				color: gold;
				text-shadow: 0 0 5px orange;
			}
		}
	}
}

// Stacked card positioning by index
@supportedCards: 30;
.loopingClass (@index) when (@index > -1) {
	(~".stacked-card-@{index}.ng-hide") {
		left: (-10px * @index);
		margin-top: (-5px * @index);
		z-index: (@supportedCards + 1 - @index);
	}
	// next iteration
	.loopingClass(@index - 1);
}
// end the loop when index is less than 0
.loopingClass (-1) {}
// "call" the loopingClass the first time with highest value
.loopingClass (@supportedCards);

