////////////////////////////////
// Resource indicator buttons //
////////////////////////////////

[widget-resource-indicator] {
	display: inline-block;

	.widget-resource-indicator {
		position: relative;
		margin: 5px 0;

		.widget-resource-indicator-icon {
			position: relative;
			z-index: 20;
		}
		.widget-resource-indicator-value {
			.shadow-box-hud();
			position: relative;
			z-index: 10;
			margin-left: -40px;
			padding: 5px 20px 5px 35px;
			border-radius: 7px;
			color: white;
			font-weight: bold;
			font-size: 18px;
		}
		.widget-resource-indicator-update-floater {
			@floatDistance: 100px;
			position: absolute;
			right: 20px;
			z-index: 11;
			font-weight: bold;
			color: gold;
			font-size: 32px;

			&.rise {
				animation: rise 1s ease-in;
				animation-fill-mode: both;
			}
			&.sink {
				animation: sink 2s ease-in;
				animation-fill-mode: both;
			}
			@keyframes rise {
				0% { top: 0; opacity: 1; color: gold; text-shadow: 0 0 5px orange;}
				50% { color: white; text-shadow: none; }
				100% { top: -@floatDistance; opacity: 0; color: white; text-shadow: none; }
			}
			@keyframes sink {
				0% { bottom: 0; opacity: 0; text-shadow: 0 0 10px black; }
				25% { opacity:1; text-shadow: 0 0 10px orange; }
				100% { bottom: -@floatDistance; opacity: 0; text-shadow: 0 0 10px black; }
			}
		}
	}
	.widget-resource-indicator(@color) {
		.widget-resource-indicator-value {
			border: 3px solid darken(desaturate(@color, 25%), 10%);
			background-color: tint(desaturate(@color, 25%), 15%);
		}
	}
	.widget-resource-indicator-MONEY {
		.widget-resource-indicator(@color-money);
	}
	.widget-resource-indicator-XP {
		.widget-resource-indicator(@color-xp);
	}
	.widget-resource-indicator-SOUVENIR {
		.widget-resource-indicator(@color-souvenirs);
	}
}

///////////////////
// Day indicator //
///////////////////

[widget-day-counter] {

	// Size
	@size: 150px;

	top: 0;
	right: 0;
	width: @size;
	height: @size;

	&.ng-enter {
		animation: rotateInDownRight 1s;
	}
	&.ng-leave {
		animation: rotateOutUpRight 1s;
	}

	.widget-day-counter {
		width: 100%;
		height: 100%;
		background: transparent url(../images/icons/anz_icon_clock.png) right top no-repeat;
		background-size: contain;

		i {
			position: absolute;

			&.morning {
				left: 30px;
				top: 15px;
				transform: rotate(-15deg);
			}

			&.afternoon {
				left: 61px;
				top: 69px;
				transform: rotate(-45deg);
			}

			&.evening {
				left: 116px;
				top: 101px;
				transform: rotate(-75deg);
				color: white;
			}
		}

		.content {
			position: absolute;
			top: 0;
			right: 10px;
			color: white;
			text-align: center;
			text-transform: uppercase;
			h1 {
				line-height: 20px;
				margin-top: 15px;
				font-weight: bold;
				small {
					color: white;
					font-weight: normal;
				}
			}
		}
	}
}
/* Alert */
[widget-alert] {

	@color: @color-alert;

	.shadow-box-hud();
	top: @size-height-HUD;
	width: 100%;
	text-align: center;
	transition: 0.75s;
	.widget-alert {
		position: relative;
		z-index: 10;
		display: inline-block;
		margin: 0 auto;
		width: 100%;
		background-color: @color;
		color: white;
		h2 {
			margin-top: 5px;
		}
	}
	.chevron {
		.shadow-text-hud();
		position: absolute;
		bottom: -8px;
		z-index: 9;
		margin: 0;
		padding: 0;
		color: @color;
		font-size: 75px;
		line-height: 0;
	}

	&.morning {
		.widget-alert {
			background-color: @color-morning;
		}
		.chevron {
			color: @color-morning;
		}
	}
	&.afternoon {
		.widget-alert {
			background-color: @color-afternoon;
		}
		.chevron {
			color: @color-afternoon;
		}
	}
	&.evening {
		.widget-alert {
			background-color: @color-evening;
		}
		.chevron {
			color: @color-evening;
		}
	}
}
