<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	
	<link rel="stylesheet" href="dist/vendor.min.css?20140216120903">
	<link rel="stylesheet" href="dist/local.min.css?20140216120903">
	
</head>

<body ng-app="travelPlanningGame.app" ng-controller="BootCtrl">
	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Left gutter -->
    <!-- Map style switcher -->
    <div class="layer panel panel-success hide">
    	<div class="panel-heading">Map styles</div>
		<ul class="list-group">
			<li class="list-group-item list-item">
				<strong>Select existing:</strong>
		    	<select class="form-control" ng-model="selectedMapStyles" ng-options="name as name for (name, style) in mapStyles">
		    		<option value="">(Custom)</option>
		    	</select>
		    </li>
			<li class="list-group-item list-item">
				<strong>Or, supply your own styles:</strong><br/>
				<strong class="text-danger" ng-if="!isCustomStyleValid">Invalid styles (syntax error)</strong>
		    	<textarea class="form-control" rows="15" ng-model="customMapStyles"></textarea>
			</li>
		</ul>
    </div>

    <!-- Game content -->
	<div class="game-container" ng-view=""></div>

	<!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en&libraries=geometry"></script>

	
	<script src="dist/vendor.min.js?20140216120903"></script>
	<script src="dist/local.min.js?20140216120903"></script>
	
</body>

</html>
