<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">

	
	<link rel="stylesheet" href="dist/vendor.min.css?20140219151644">
	<link rel="stylesheet" href="dist/local.min.css?20140219151644">
	
</head>

<body ng-app="travelPlanningGame.app" ng-controller="BootCtrl">
	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Left gutter -->
    <div class="layer" ng-cloak>
	    <button class="btn btn-default btn-xs" ng-click="experiments.disabled = !experiments.disabled">Experiments</button>
	    <div collapse="experiments.disabled">
		    <!-- Map style switcher -->
		    <div class="panel panel-primary">
		    	<div class="panel-heading" ng-click="experiments.disabledMapStyles = !experiments.disabledMapStyles">Map styles</div>
				<ul class="list-group" collapse="experiments.disabledMapStyles">
					<li class="list-group-item list-item">
						<strong>Select existing:</strong>
				    	<select class="form-control" ng-model="experiments.selectedMapStyles" ng-options="name as name for (name, style) in mapStyles">
				    		<option value="">(Custom)</option>
				    	</select>
				    </li>
					<li class="list-group-item list-item">
						<strong>Or, supply your own styles:</strong><br/>
						<strong class="text-danger" ng-if="!experiments.isCustomStyleValid">Invalid styles (syntax error)</strong>
				    	<textarea class="form-control" rows="5" ng-model="experiments.customMapStyles"></textarea>
					</li>
				</ul>
		    </div>
		    <!-- Game screen switcher -->
		    <div class="panel panel-primary">
		    	<div class="panel-heading" ng-click="experiments.disabledScreenSwitcher = !experiments.disabledScreenSwitcher">Screens</div>
				<div class="panel-body" collapse="experiments.disabledScreenSwitcher">
					<p>
						<button type="button" class="btn btn-default" ng-click="experiments.showScreen('menu')">Menu</button>
						<button type="button" class="btn btn-default" ng-click="experiments.showScreen('game')">Game</button>
						<button type="button" class="btn btn-default" ng-click="experiments.showScreen('results')">Results</button>
					</p>
					<p>
						<button type="button" class="btn btn-default" ng-click="journal.isOpen = true">Journal</button>
					</p>
				</div>
		    </div>
		</div>
	</div>

    <!-- Game content -->
	<div class="game-container" ng-view=""></div>

	<!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en&libraries=geometry"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>

	
	<script src="dist/vendor.min.js?20140219151644"></script>
	<script src="dist/local.min.js?20140219151644"></script>
	
</body>

</html>
