<!-- Game board -->
<div class="layer">
	<div game-map
		ng-if="!map.state.isUnavailable()"
		options="map.options"
		current="current.location"
		selected="locations.selected">
	</div>
</div>
<!-- end game board -->

<!-- Menu page stuff -->
<div ng-if="current.state.isMenu()">

	<!-- Sidebar for more settings -->
	<div class="layer sidebar top-gap">
		<div accordion close-others="'true'">

			<!-- Initial configuration -->
			<div accordion-group heading="Budget" is-open="true">
				<form>

					<!-- Budget -->
					<div class="form-group">
						<label for="menu-budget">Money</label>
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number"id="menu-budget"class="form-control"ng-model="settings.budget"min="100"step="100"
							required/>
						</div>
					</div>
					<!-- end of budget -->

					<!-- Days of travel -->
					<div class="form-group">
						<label for="menu-days">Days Travelling</label>
						<input type="number" id="menu-days" class="form-control" ng-model="settings.travelDays" min="1" step="1"
						required />
					</div>
					<!-- end of days -->

				</form>
			</div>
			<!-- end of initial config -->

			<!-- Upgrades -->
			<div accordion-group heading="Upgrades (Locked)">
				<em>Unlock these awesome upgrades by playing!</em>
			</div>
			<!-- end of upgrades -->

		</div>
	</div>
	<!-- end settings sidebar -->

	<!-- Start game button -->
	<div class="layer button-next" ng-class="getTimeOfDay()">
		<button type="button" class="btn btn-lg btn-primary btn-action" ng-click="game.start()">
			Start
		</button>
	</div>
	<!-- end start button -->

	<!-- Selected destination -->
	<div class="layer menu-top-bar">
		<h1 class="banner">Destination: {{ current.location.name }}</h1>
	</div>
	<!-- end selected destination -->

	<!-- Loading/splash screen -->
	<div class="layer overlay loading"
		state-tracker="menuLoadingState"
		state-transition="{idle: {complete: 500}}"
		state-class="['', '', 'hide']">
		<h1><div loading></div> Loading...</h1>
	</div>

</div>
<!-- end menu page -->

<!-- Play page -->
<div ng-if="current.state.isPlaying()">

	<!-- Alerts container -->
	<div widget-alert="alertMessage" chevron="down" class="layer animated"
		ng-class="getTimeOfDay()"
		state-tracker="alert"
		state-choices="[
			{state: 'off', set: 'reset', check: 'isOff'}
			, {state: 'on', set: 'show', check: 'isOn'}
			, {state: 'dismissed', set: 'dismiss', check: 'isDismissed'}
		]"
		state-class="['hide', 'bounceInUp', 'bounceOutUp']"
		state-transition="{dismissed: {off: 1000}}">
	</div>
	<!-- end alerts -->

		<!-- ng-show="locations.selected && map.options.selectable == 'location'" -->
	<!-- Selected landmark card -->
	<div landmark-card
		ng-repeat="landmark in locations.landmarks"
		landmark="landmark"
		ng-show="(locations.selected.id === landmark.id) && (map.options.selectable === 'location')"
		class="layer"
		ng-class="[getTimeOfDay(), 'stacked-card-' + $index]">
	</div>
	<!-- end landmark card -->

	<!-- Landmark view -->
	<div landmark-view landmark="current.location"
		ng-if="current.location && turnState.isActive()">
	</div>

	<!-- Resource indicators -->
	<div class="layer">
		<div widget-resource-indicator type="MONEY" category="ALL" resources="resources"></div>
		<div widget-resource-indicator type="XP" category="ALL" resources="resources"></div>
		<div widget-resource-indicator type="SOUVENIR" category="ALL" resources="resources"></div>
	</div>
	<!-- Time indicators -->
	<div widget-day-counter day="getDay()" class="layer" ng-if="getDay() && !turnState.isActive()"></div>
	<!-- end indicators -->

	<!-- Sidebar for turn options -->
	<div class="layer sidebar turn-options"
		ng-class="getTimeOfDay()"
		ng-if="turnState.isActive()">

		<h2>
			<span ng-if="!current.location.isVisited()">Welcome!</span>
			<span ng-if="current.location.isVisited()">Welcome back!</span>
			What would you like to do here?
		</h2>

		<div accordion close-others="'true'">

			<!-- Shopping option -->
			<div accordion-group heading="Shopping" is-open="true">
				<div class="souvenir picture">
					<img class="img-responsive" ng-src="{{ current.location.shopping.image }}" width="128" height="128" />
				</div>
				<div class="souvenir info">
					<h4> {{ current.location.shopping.name }}</h4>
					<div class="souvenir cost">
						<i class="fa fa-dollar"></i>
						{{ current.location.shopping.cost }}
					</div>
					<div class="souvenir gains">
						<i class="fa fa-shopping-cart"></i>
						{{ current.location.shopping.souvenirs }}
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="action">
					<button type="button"
						class="btn btn-default"
						ng-click="shoppingState.isAvailable() ? game.shop() : null"
						ng-disabled="!shoppingState.isAvailable || !game.canShop()"
						state-tracker="shoppingState"
						state-choices="[
							{state: 'available', set: 'reset', check: 'isAvailable'}
							, {state: 'purchasing', set: 'purchase', check: 'isPurchasing'}
							, {state: 'bought', set: 'markBought', check: 'hasBought'}
						]"
						state-class="['btn-default', 'animated flash btn-warning', 'btn-warning']"
						state-transition="{purchasing: {bought: 1000}}">
						{{ whyCantI(game.canShop) || (shoppingState | stateTracker:"Buy this item!":"Bought it!":"Bought it!") }}
					</button>
				</div>
			</div>
			<!-- end shopping option -->

			<!-- Optional features -->
			<div accordion-group heading="Activites">
	 			<div ng-repeat="bonus in current.location.bonuses track by $index" ng-if="bonus.type === 'optional'">
					{{ bonus.flavour }}
					<button type="button" class="btn btn-default">Play</button>
				</div>
			</div>
			<!-- end optional features -->

		</div>
		<!-- end things to show in current turn -->

	</div>
	<!-- end turn sidebar -->

	<!-- Start game button -->
	<div class="layer button-next" ng-class="getTimeOfDay()" ng-if="!current.location">
		<button type="button"
			class="btn btn-lg btn-warning btn-action animated"
			ng-click="game.setStartPoint()"
		 	ng-disabled="!locations.selected"
		 	ng-class="locations.selected ? 'bounce' : 'fadeIn'">
			<span ng-if="!locations.selected">Select your start point.</span>
			<span ng-if="locations.selected">Let's begin!</span>
		</button>
	</div>
	<!-- end start button -->

	<!-- Start turn button -->
	<div class="layer button-next" ng-class="getTimeOfDay()" ng-if="!turnState.isActive() && current.location">
		<button type="button"
			class="btn btn-lg btn-warning btn-action animated"
			ng-click="game.startTurn()"
			ng-disabled="!game.canPlay()"
			ng-class="game.canPlay() ? 'bounce' : 'fadeIn'">
			{{ whyCantI(game.canPlay) || "Go!" }}
		</button>
	</div>
	<!-- end start button -->

	<!-- End turn button -->
	<div class="layer button-next" ng-class="getTimeOfDay()" ng-if="turnState.isActive() && current.location">
		<button type="button"
			class="btn btn-lg btn-info btn-action"
			ng-click="game.endTurn()">
			End Turn
		</button>
	</div>
	<!-- end end-turn button -->

	<!-- Menu button -->
<!-- 	<div class="layer button-prev" ng-class="getTimeOfDay()">
		<button type="button" class="btn btn-lg btn-primary btn-action" ng-click="game.menu()">
			Quit
		</button>
	</div>
 -->	<!-- end menu button -->

	<!-- Random event card -->
	<div ng-show="randomEvent">
		<div random-event-card random-event="randomEvent" class="layer overlay"></div>
	</div>
	<!-- end event card -->

	<!-- Upgrade unlocked event card -->
	<div ng-show="upgradeUnlocked">
		<div upgrade-card upgrade="upgradeUnlocked" class="layer overlay"></div>
	</div>
	<!-- end upgrade card -->

	<!-- Loading/splash screen -->
	<div class="layer overlay loading"
		state-tracker="playLoadingState"
		state-transition="{idle: {complete: 2000}}"
		state-class="['', '', 'hide']">
		<h1><div loading></div> Loading...</h1>
	</div>

</div>
<!-- end play page -->

<!-- Stats page at the end -->
<div ng-if="current.state.isStats()">

	<!-- Chart -->
	<div class="layer overlay stats-chart">
		<highchart id="resultsChart" config="chartConfig"></highchart>
	</div>
	<!-- end chart -->

	<!-- Score computation -->
	<div class="layer sidebar top-gap text-right">
		<h2>Base Score:</h2>
		<p>+ {{ resources.get(
				resources.categories.ALL
				, resources.types.MONEY
				) | currency }}
			x 200</p>
		<p>+ {{ resources.get(
				resources.categories.ALL
				, resources.types.XP
			) | number }}
			x 400</p>
		<p>+ {{ resources.get(
				resources.categories.ALL
				, resources.types.SOUVENIR
			) | number }}
			x 400</p>
		<p class="total">
			{{ ( resources.get(
					resources.categories.ALL
					, resources.types.MONEY
				) * 200
			) + ( resources.get(
					resources.categories.ALL
					, resources.types.XP
				) * 400
			) + ( resources.get(
					resources.categories.ALL
					, resources.types.SOUVENIR
				) * 400
			) | number }}
		</p>
	</div>
	<!-- end settings sidebar -->

	<!-- Restart game button -->
	<div class="layer button-prev">
		<button type="button" class="btn btn-lg btn-primary btn-action" ng-click="game.menu()">
			Play again
		</button>
	</div>
	<!-- end restart button -->

	<!-- Selected destination -->
	<div class="layer menu-top-bar">
		<h1>Results</h1>
	</div>
	<!-- end selected destination -->

</div>
<!-- end stats page -->

<!-- Traveller's Journal page -->
<div class="layer" ng-if="showJournal">

	<!-- Chart -->
	<div class="layer overlay stats-chart">
		<highchart id="resultsChart" config="chartConfig"></highchart>
	</div>
	<!-- end chart -->

	<!-- Score computation -->
	<div class="layer sidebar top-gap text-right">
		<h2>Base Score:</h2>
		<p>+ {{ resources.get(
				resources.categories.ALL
				, resources.types.MONEY
				) | currency }}
			x 200</p>
		<p>+ {{ resources.get(
				resources.categories.ALL
				, resources.types.XP
			) | number }}
			x 400</p>
		<p>+ {{ resources.get(
				resources.categories.ALL
				, resources.types.SOUVENIR
			) | number }}
			x 400</p>
		<p class="total">
			{{ ( resources.get(
					resources.categories.ALL
					, resources.types.MONEY
				) * 200
			) + ( resources.get(
					resources.categories.ALL
					, resources.types.XP
				) * 400
			) + ( resources.get(
					resources.categories.ALL
					, resources.types.SOUVENIR
				) * 400
			) | number }}
		</p>
	</div>
	<!-- end settings sidebar -->

	<!-- Restart game button -->
	<div class="layer button-prev">
		<button type="button" class="btn btn-lg btn-primary btn-action" ng-click="game.menu()">
			Play again
		</button>
	</div>
	<!-- end restart button -->

	<!-- Selected destination -->
	<div class="layer menu-top-bar">
		<h1>Results</h1>
	</div>
	<!-- end selected destination -->

</div>
<!-- end stats page -->

<!-- debug/test -->
<div class="layer">
	<button type="button" class="btn btn-default" ng-click="showJournal = !showJournal">Test</button>
</div>