<!-- Game board -->
<div class="layer">
	<div game-map
		ng-if="!map.state.isUnavailable()"
		options="map.options"
		current="current.location"
		selected="locations.selected">
	</div>
</div>
<!-- end game board -->

<!-- Menu page stuff -->
<div ng-if="current.state.isMenu()">

	<!-- Sidebar for more settings -->
	<div class="layer sidebar">
		<div accordion close-others="'true'">

			<!-- Initial configuration -->
			<div accordion-group heading="Budget" is-open="true">
				<form>

					<!-- Budget -->
					<div class="form-group">
						<label for="menu-budget">Money</label>
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number"id="menu-budget"class="form-control"ng-model="settings.budget"min="100"step="100"
							required/>
						</div>
					</div>
					<!-- end of budget -->

					<!-- Days of travel -->
					<div class="form-group">
						<label for="menu-days">Days Travelling</label>
						<input type="number" id="menu-days" class="form-control" ng-model="settings.travelDays" min="1" step="1"
						required />
					</div>
					<!-- end of days -->

				</form>
			</div>
			<!-- end of initial config -->

			<!-- Upgrades -->
			<div accordion-group heading="Upgrades (Locked)">
				<em>Unlock these awesome upgrades by playing!</em>
			</div>
			<!-- end of upgrades -->

		</div>
	</div>
	<!-- end settings sidebar -->

	<!-- Start game button -->
	<div class="layer button-next" ng-class="getTimeOfDay()">
		<button type="button" class="btn btn-lg btn-primary btn-action" ng-click="game.start()">
			Start
		</button>
	</div>
	<!-- end start button -->

	<!-- Selected destination -->
	<div class="layer menu-top-bar">
		<h1>Destination: {{ current.location.name }}</h1>
	</div>
	<!-- end selected destination -->

	<!-- Loading/splash screen -->
	<div class="layer overlay loading"
		state-tracker="menuLoadingState"
		state-transition="{idle: {complete: 2000}}"
		state-class="['', '', 'hide']">
		<h1><div loading></div> Loading...</h1>
	</div>

</div>
<!-- end menu page -->

<!-- Play page -->
<div ng-if="current.state.isPlaying()">

	<!-- Alerts container -->
	<div widget-alert="alertMessage" chevron="down" class="layer animated"
		ng-class="getTimeOfDay()"
		state-tracker="alert"
		state-choices="[
			{state: 'off', set: 'reset', check: 'isOff'}
			, {state: 'on', set: 'show', check: 'isOn'}
			, {state: 'dismissed', set: 'dismiss', check: 'isDismissed'}
		]"
		state-class="['hide', 'bounceInUp', 'bounceOutUp']"
		state-transition="{dismissed: {off: 1000}}">
	</div>
	<!-- end alerts -->

	<!-- Selected landmark card -->
	<div landmark-card landmark="locations.selected" class="layer animated"
		ng-class="getTimeOfDay()"
		ng-show="locations.selected && map.options.selectable == 'location'"
		state-tracker="landmarkCardState"
		state-class="['hide', 'bounceIn', 'bounceOut', 'hide']"
		state-activate="landmarkCardLocationID != locations.selected.id"
		state-on-active="landmarkCardLocationID = locations.selected.id"
		state-transition="{complete: {idle: 1000}}">
	</div>
	<!-- end landmark card -->

	<!-- Resource indicators -->
	<div class="layer">
		<div widget-resource-indicator type="MONEY" category="ALL" resources="resources"></div>
		<div widget-resource-indicator type="XP" category="ALL" resources="resources"></div>
		<div widget-resource-indicator type="SOUVENIR" category="ALL" resources="resources"></div>
	</div>
	<!-- Time indicators -->
	<div widget-day-counter day="getDay()" class="layer"></div>
	<!-- end indicators -->

	<!-- Sidebar for turn options -->
	<div class="layer sidebar turn-options animated"
		ng-class="getTimeOfDay()"
		state-tracker="turnState"
		state-class="['hide', 'bounceInUp', 'bounceOutDown', 'hide']"
		state-transition="{complete: {idle: 1000}, failed: {idle: 1000}}">

		<!-- Only show when currently in a turn -->
		<div ng-if="turnState.isActive()">

			<h2>Welcome to {{ current.location.name }}!</h2>

			<p>{{ current.location.description }}</p>

			<h2>What would you like to do here?</h2>

			<!-- Shopping option -->
			<div class="option">

				<h4>Shopping</h4>

				<div class="souvenir picture">
					<img class="img-responsive" ng-src="{{ current.location.shopping.image }}" width="128" height="128" />
				</div>
				<div class="souvenir info">
					<h4> {{ current.location.shopping.name }}</h4>
					<div class="souvenir cost">
						<i class="fa fa-dollar"></i>
						{{ current.location.shopping.cost }}
					</div>
					<div class="souvenir gains">
						<i class="fa fa-shopping-cart"></i>
						{{ current.location.shopping.souvenirs }}
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="action">
					<button type="button"
						class="btn"
						ng-click="shoppingState.isAvailable() ? game.shop() : null"
						ng-disabled="!shoppingState.isAvailable || !game.canShop()"
						state-tracker="shoppingState"
						state-choices="[
							{state: 'available', set: 'reset', check: 'isAvailable'}
							, {state: 'purchasing', set: 'purchase', check: 'isPurchasing'}
							, {state: 'bought', set: 'markBought', check: 'hasBought'}
						]"
						state-class="['btn-default', 'animated flash btn-warning', 'btn-warning']"
						state-transition="{purchasing: {bought: 1000}}">
						{{ whyCantI(game.canShop) || (shoppingState | stateTracker:"Buy this item!":"Bought it!":"Bought it!") }}
					</button>
				</div>
			</div>
			<!-- end shopping option -->

			<!-- Optional features -->
<!-- 			<div class="option" ng-repeat="bonus in current.location.bonuses track by $index" ng-if="bonus.type === 'optional'">
				<h4>Optional</h4>
				{{ bonus.flavour }}
				<button type="button" class="btn btn-default">Play</button>
			</div>
 -->			<!-- end optional features -->
		</div>
		<!-- end things to show in current turn -->

	</div>
	<!-- end turn sidebar -->

	<!-- Start game button -->
	<div class="layer button-next" ng-class="getTimeOfDay()" ng-if="!current.location">
		<button type="button"
			class="btn btn-lg btn-warning btn-action animated"
			ng-click="game.setStartPoint()"
		 	ng-disabled="!locations.selected"
		 	ng-class="locations.selected ? 'bounce' : 'fadeIn'">
			<span ng-if="!locations.selected">Select your start point.</span>
			<span ng-if="locations.selected">Let's begin!</span>
		</button>
	</div>
	<!-- end start button -->

	<!-- Start turn button -->
	<div class="layer button-next" ng-class="getTimeOfDay()" ng-if="!turnState.isActive() && current.location">
		<button type="button"
			class="btn btn-lg btn-warning btn-action animated"
			ng-click="game.startTurn()"
			ng-disabled="!game.canPlay()"
			ng-class="game.canPlay() ? 'bounce' : 'fadeIn'">
			{{ whyCantI(game.canPlay) || "Go!" }}
		</button>
	</div>
	<!-- end start button -->

	<!-- End turn button -->
	<div class="layer button-next" ng-class="getTimeOfDay()" ng-if="turnState.isActive() && current.location">
		<button type="button"
			class="btn btn-lg btn-info btn-action"
			ng-click="game.endTurn()">
			End Turn
		</button>
	</div>
	<!-- end end-turn button -->

	<!-- Random event card -->
	<div ng-show="randomEvent">
		<div random-event-card random-event="randomEvent" class="layer overlay"></div>
	</div>
	<!-- end event card -->

	<!-- Upgrade unlocked event card -->
	<div ng-show="upgradeUnlocked">
		<div upgrade-card upgrade="upgradeUnlocked" class="layer overlay"></div>
	</div>
	<!-- end upgrade card -->

	<!-- Loading/splash screen -->
	<div class="layer overlay loading"
		state-tracker="playLoadingState"
		state-transition="{idle: {complete: 2000}}"
		state-class="['', '', 'hide']">
		<h1><div loading></div> Loading...</h1>
	</div>

</div>
<!-- end play page -->

<!-- Stats page at the end -->
<div ng-if="current.state.isStats()">

	<div class="layer overlay stat-screen">



	</div>

</div>
