<!-- Game map layer -->
<div class="layer">
	<div game-map
		available-locations="landmarks"
		selected-location="selectedLandmark"
		initial-location="settings.game.locations[settings.game.selectedLocation]">
	</div>
</div>

<!-- Game HUD layer -->
<div class="layer">
	<div class="row">
		<div class="col-lg-3 well">
			$ {{ play.settings.finances.budget }}
		</div>
		<div class="col-lg-3 well">
			XP TBD
		</div>
		<div class="col-lg-3 well">
			S TBD
		</div>
		<div class="col-md-3 well">
			DAY {{ play.day }} / {{ settings.game.daysOfTravel }}
		</div>
	</div>

	<!-- Landmark card -->
	<div landmark-card landmark="selectedLandmark" ng-if="selectedLandmark"></div>
</div>

<div class="clearfixed"></div>

<!-- Navigation -->
<a href="#/start" class="btn btn-default">Back</a>
