<!-- Game map layer -->
<div game-map class="layer" ng-model="selectedLandmark" available-locations="landmarks" focal-point="selectedLandmark.coords" show-transit="false">
</div>

<!-- Game HUD layers -->
<div class="layer">
	<div widget-resource-indicator role="budget" value="play.finances.getBudget()"></div>
	<div widget-resource-indicator role="xp" value="play.finances.getXP()"></div>
	<div widget-resource-indicator role="souvenirs" value="play.finances.getSouvenirs()"></div>
</div>
<div widget-day-counter value="play.day" total="settings.game.daysOfTravel" class="layer"></div>
<button class="btn btn-warning btn-lg layer play-button" ng-click="simulateDay()" ng-show="canPlay()">Go!</button>
<button class="btn btn-default btn-lg layer play-button" ng-click="skipDay()" ng-show="!canPlay()">Skip</button>
<a href="#/start" class="btn btn-default btn-lg layer back-button">Back</a>

<!-- Landmark card -->
<div landmark-card landmark="selectedLandmark" class="layer" ng-show="selectedLandmark"></div>

<div collapsible-column collapsible default-collapsed ng-model="show" class="span3">h</div>
