<!-- Landmark card -->
<div class="landmark-card panel panel-primary">

	<!-- Landmark name and controls -->
	<div class="panel-header panel-heading">

		<!-- Controls -->
		<i class="fa close fa-times fa-fw"
			ng-show="landmark"
			ng-click="landmark.isCardClosed = true"></i>
		<!-- <i class="fa close fa-rotate-left fa-fw" ng-click="isFlipped = !isFlipped"></i> -->

		<h3>{{ landmark.name }} &nbsp;</h3>
	</div>
	<!-- end name and controls -->

	<!-- Image and quick stats -->
	<div class="panel-body" ng-style="{
		'background-image': 'url(' + getLandmarkImage() + ')'
		, 'background-size': isVisited() ? 'cover' : 'initial'
		, 'background-position-x': !isVisited() ? '85px' : 'center'
	}">
		<div class="col-xs-offset-9">
			<div class="thumbnail resource resource-money text-center">
				<small>LODGING</small>
				<h3>{{ landmark.lodgingCost }} <i class="fa fa-dollar"></i>
				</h3>
				<small>PER DAY</small>

				<a tooltip-html-unsafe="<strong>Lodging Cost will apply.</strong><p>This is your last trip for the day. You will be lodging here tonight.</p>" tooltip-placement="right">
				</a>

			</div>
			<div class="thumbnail resource resource-xp text-center">
				<small>VISITING</small>
				<h3>{{ landmark.visitingCost }} <i class="fa fa-dollar"></i>
				</h3>
				+{{ landmark.visitingExp }} <i class="fa fa-star"></i>
			</div>
			<div class="thumbnail resource resource-souvenirs text-center">
				<img ng-src="{{ getSouvenirImage() }}" />

				<!-- Item hover pop up -->
				<div item-card item="landmark.shopping" ng-if="isVisited()"></div>
				<!-- end pop up -->

			</div>
		</div>
	</div>
	<!-- end image and stats -->

	<!-- Features, flavour text and options -->
	<ul class="list-group">
		<li class="list-group-item list-item" ng-repeat="bonus in landmark.bonuses">
			<span class="pull-right text-primary" ng-show="bonus.type">{{ bonus.type | uppercase }}</span>
			<i class="fa" ng-class="bonus.icon"></i> {{ bonus.flavour }}
			<em class="text-muted" ng-show="bonus.implication">
				<small>({{ bonus.implication }})</small>
			</em>
		</li>
	</ul>
	<!-- end features -->

	<!-- One time bonus -->
	<div class="panel-footer text-center" ng-class="isVisited() ? 'inactive' : 'active'">
		One-time visiting bonus:
		<strong>+{{ landmark.exp }} <i class="fa fa-star"></i>
		</strong>
	</div>
	<!-- end bonus -->

</div>
<!-- end card -->
