<div gm-map
	ng-if="isEnabled()"
	class="map-canvas"
	gm-map-id="'gameMap'"
	gm-center="center"
	gm-zoom="zoom"
	gm-bounds="bounds"
	gm-map-type-id="type">
	<div gm-markers
		gm-objects="availableLocations"
		gm-id="object.id"
		gm-marker-options="getMarkerOptions(object)"
		gm-position="{lat: object.coords.lat, lng: object.coords.lng}"
		gm-on-click="selectLocation(object, marker); showLabel(object, marker)">
	</div>
	<div id="map-infoWindow-markerLabel-sample">
		<div class="well">
			<strong>{{ location.name }}</strong>
		</div>
	</div>
</div>