<div class="widget-resource-indicator"
	ng-class="'widget-resource-indicator-' + type"
	state-tracker="resourceIndicatorState_{{ type }}"
	state-class="['', 'animated tada', '', '']">
	<i ng-switch on="type" class="widget-resource-indicator-icon">
		<img ng-switch-when="MONEY" src="../images/icons/anz_icon_ui_money_small.png" height="64" width="64" />
		<img ng-switch-when="XP" src="../images/icons/anz_icon_ui_star_small.png" height="64" width="64" />
		<img ng-switch-when="SOUVENIR" src="../images/icons/anz_icon_ui_shopping_small.png" height="64" width="64" />
	</i>
	<span class="widget-resource-indicator-value" ng-bind="getValue()"></span>
</div>
